<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing directory ~<%- dirname %></title>
    <style>
      <%- include("dist/style/style.css"); %>
    </style>
  </head>
  <body>
    <svg class="icons">
      <% icons.forEach((icon) => { %>
      <%- include(`dist/icons/${icon}.svg`); %>
      <% }); %>
    </svg>
    <main class="main">
      <input id="search" class="search" type="text" placeholder="Search" autocomplete="off" />
      <header class="header">
        <h1 class="paths">
          <a class="path" href="/">~</a>
          <span>/</span>
          <% paths.forEach((path) => { %>
          <a class="path" href="<%- path.url %>"><%- path.name %></a>
          <span>/</span>
          <% }); %>
        </h1>
      </header>
      <ul id="files" class="files">
        <% files.forEach((file) => { %>
        <li class="file" data-name="<%- file.name %>">
          <a class="file-link" href="<%- file.url %>" title="<%- file.name %>">
            <span class="file-icon">
              <svg class="file-icon-symbol"><use xlink:href="#<%- file.icon %>" /></svg>
            </span>
            <span class="file-name"><%- file.name %></span>
          </a>
        </li>
        <% }); %>
      </ul>
    </main>
    <script>
      <%- include("dist/script/script.js"); %>
    </script>
  </body>
</html>
